@import 'variables';

img{
    width:100%;
}



// a{
//     text-decoration: none;
// }
// /*Navigation*/
nav{
    width: 100%;
    .nav-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-left: 0px;
        background-color: white;
        z-index: 999;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: $icon-color;
            }
        }
    }
    .nav-desktop{
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0px;
        background-color: $second-color;
        margin-bottom: -1px;
        .navitem{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            // width: 400px;
            margin-top: auto;
            margin-bottom: auto;
            i{
                margin-left: 10px;
                padding: 10px;
                background-color: $base-color;
                border-radius: 50%;
            }
        }
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: $base-color;
            }
        }
    }
}
.sendmmenu{
    h1{
        text-align: center;
        width: 100%;
        border-bottom: 2px solid $base-color;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    textarea{
        width: 100%;
        border: 1px solid gray;
        margin-bottom: 30px;
    }
    .btnsend{
        display: flex;
        flex-direction: row;
        button{
            margin-right: 20px;
            border: 1px solid black;
            background-color: white;
            color: $icon-color;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .target{
        display: block;
        border-left: 2px solid $base-color;
        padding-left: 30px;
        margin-top: 30px;
    }
}


