/*Navigation*/
nav {
  width: 100%;
}

nav .nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 0px;
  background-color: white;
  z-index: 999;
}

nav .nav-mobile li {
  list-style-type: none;
}

nav .nav-mobile li a {
  text-decoration: none;
  color: black;
}

nav .nav-desktop {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
  background-color: #d2c5ff;
  margin-bottom: -1px;
}

nav .nav-desktop .navitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

nav .nav-desktop .navitem i {
  margin-left: 10px;
  padding: 10px;
  background-color: #0072cf;
  border-radius: 50%;
}

nav .nav-desktop li {
  list-style-type: none;
}

nav .nav-desktop li a {
  text-decoration: none;
  color: #0072cf;
}

.icon {
  margin-right: 20px;
  padding: 10px;
  padding-left: 11px;
  background-color: #0072cf;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/*Home page*/
.page-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d2c5ff;
}

.page-menu label {
  border-bottom: 2px solid gray;
  width: 80px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.page-menu input {
  opacity: 0;
}

.page-menu input:checked ~ label {
  border-bottom: 2px solid #0072cf;
}

.actu {
  margin-bottom: 5px;
}

.actu h5 {
  color: #0072cf;
  margin-bottom: 0px;
  margin-top: 10px;
}

.actu .image-size {
  width: 100%;
  height: auto;
}

.actu .blue-back {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #0072cf;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
}

.icon-back {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #adadad;
  margin-bottom: 5px;
  margin-top: 5px;
}

.actual {
  padding-bottom: 1px !important;
  background-color: lightgray;
  margin-bottom: 40px;
}

/*video*/
.video-resum {
  padding-top: 10px;
}

.video-resum i {
  display: block;
  background-color: #a8a8a8;
  padding: 20px;
  padding-top: 22px;
  padding-left: 21px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.video-disp {
  height: 100vh;
  background-color: lightgray;
}

.video-disp .video-content {
  height: 180px;
  margin-top: 20px;
  background-color: #424242;
}

.video-disp .play-video {
  width: 100%;
  background-color: #424242;
  margin-top: -1px;
  color: #0072cf;
  padding: 10px;
}

/*Media queries*/
/*# sourceMappingURL=style.css.map */